* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #3FA2F7;
    --primary-dark: #3F84A9;
    --primary-light: #f0f8ff;
    --success: #50C878;
    --success-hover: #50A965;
    --text-dark: #191919;
    --text-white: #FFFFFF;
    --text-yellow: #ffe3af;
    --surface-white: #FFFFFF;
    --surface-50: #14191D;
    --surface-100: #151C22;
    --surface-200: #161E24;
    --surface-300: #161F27;
    --surface-400: #17222B;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semiBold: 600;
    --font-bold: 700;
    --font-size-s: 12px;
    --font-size-m: 16px;
    --font-size-l: 24px;
    --font-size-xl: 36px;
    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 36px;
    --spacing-xl: 48px;
    --spacing-xxl: 64px;
    --spacing-xxxl: 88px;
}

.title {
    text-align: center;
    font-size: var(--font-size-l);
    font-weight: var(--font-medium);
    margin-bottom: var(--spacing-xl);
}

.title-2 {
    text-align: center;
    font-size: var(--font-size-l);
    font-weight: var(--font-regular);
    margin-bottom: var(--spacing-s);
}

p {
    text-align: left;
    font-size: var(--font-size-m);
    font-weight: var(--font-regular);
    line-height: 28px;
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-m);
    font-weight: var(--font-medium);
    font-family: 'Fira Sans';
    text-align: center;
    border-radius: 6px;
    transition: all 200ms ease-in;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    width: 100%;
}

#navbar-container {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: var(--spacing-s);
    background-color: var(--primary);
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

#navbar-logo {
    height: 36px;
}

#navbar-container input[type="checkbox"]#toggle-menu {
    position: absolute;
    z-index: 5;
    display: block;
    width: 35px;
    height: 24px;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    opacity: 0;
    cursor: pointer;
}

#navbar-container #navbar-menu-hamburger {
    position: absolute;
    z-index: 3;
    display: block;
    width: 35px;
    height: 24px;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
}

#menu-links {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: var(--spacing-xxl) var(--spacing-m) var(--spacing-m);
    top: 0;
    right: -100%;
    flex-direction: column;
    align-items: center;
    opacity: 20;
    transition: all 0.8s ease-in;
    box-sizing: border-box;
    box-shadow: -5px -5px 8px 2px rgba(0,0,0,0.08);
    background-color: var(--primary);
    list-style: none;
    font-size: var(--font-size-l);
    font-weight: var(--font-regular);
}

#menu-logo {
    margin-bottom: var(--spacing-xl);
}

#menu-links hr {
    width: 80%;
    height: 1px;
    margin: var(--spacing-s);
    border: none;
    background: var(--text-white);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 15%, var(--text-white) 50%, rgba(255,255,255,0.5) 85%, rgba(255,255,255,0) 100%);
}

.menu-link {
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 5;
}

.menu-link.active a::before {
    content: '> '
}

.menu-link.active a::after {
    content: ' <'
}

.menu-link a {
    color: var(--text-white);
}

.menu-link:not(:last-child) {
    margin-bottom: var(--spacing-s);
}

#navbar-container input[type="checkbox"]#toggle-menu:checked ~ #menu-links {
    right: 0%;
    opacity: 100;
    transition: all 0.8s ease-out;
}

#navbar-container input[type="checkbox"]#toggle-menu:checked ~ #navbar-menu-hamburger path{
    d: path("M2 2L14 14M14 14L26 2M14 14L2 26M14 14L26 26");
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacing-xxl) 0px;
    padding: var(--spacing-xl) var(--spacing-m) var(--spacing-s);
    box-sizing: border-box;
    min-height: 60vh;
}

.title {
    margin-bottom: var(--spacing-xl);
}

#app-desc-container {
    margin-bottom: var(--spacing-xl);
}

.app-description > :first-child {
    margin-bottom: var(--spacing-s);
}

.app-description p span {
    font-weight: var(--font-bold);
    color: var(--primary);
}

.cta {
    width: 40%;
    height: 48px;
    background-color: var(--success);
    color: var(--text-white);
    margin-bottom: var(--spacing-xxxl);
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.section:not(:last-child) {
    margin-bottom: var(--spacing-m);
}

.section:last-child {
    margin-bottom: var(--spacing-xxl);
}

.section-img {
    max-width: 100%;
    max-height: 128px;
    margin-bottom: var(--spacing-s);
}

#city-image-animated {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    animation-name: fadeIn;
    animation-duration: 2s;
}

#city-image {
    position: relative;
    width: 100%;
}

#bus-image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -15%;
    width: 15%;
    animation-name: moveBus;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function:cubic-bezier(0.4, 1, 0.355, 0.215);
    animation-delay: 2.2s;
}

#footer {
    font-size: var(--font-size-m);
    font-weight: var(--font-regular);
}

#footer-main {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-m);
    box-sizing: border-box;
    background-color: var(--surface-400);
}

#footer-logo-btt {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: var(--spacing-l);
}

#footer-logo-btt a {
    color: var(--primary);
}

.footer-links > div {
    display: flex;
    flex-direction: column;
}

.footer-links > div:not(:last-child) {
    margin-bottom: var(--spacing-m);
}

.footer-link {
    color: var(--text-white);
}

.footer-link:not(:last-child) {
    margin-bottom: var(--spacing-xs);
}

#madeby {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    box-sizing: border-box;
    background-color: var(--surface-50);
}

#madeby p {
    color: var(--text-white);
    text-align: center;
    font-weight: var(--font-regular);
    font-size: var(--font-size-s);
}

#menu-links-lg, #toggle-account-menu, #account-icon, #account-links, #app-description-img, #app-description-img-park {
    display: none;
}

@keyframes moveBus {
    from {
        display: block;
        right: -15%;
    }
  
    to {
        display: none;
        right: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 100;
    }
}

@media only screen and (min-width: 600px) {
    .menu-link, .menu-link.active, .menu-link a, .menu-link.active a, .menu-link:not(:last-child), .menu-link:last-child {
        all: unset;
    }

    #navbar-container #toggle-menu, #navbar-container #navbar-menu-hamburger {
        display: none;
    }

    a {
        cursor: pointer;
    }

    #navbar-content {
        flex-grow: 1;
        display: flex;
    }

    #menu-links-lg {
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        width: 100%;
        font-size: var(--font-size-m);
        font-weight: var(--font-regular);
    }

    .menu-link a {
        color: var(--text-white);
        cursor: pointer;
    }

    .menu-link.active a::before {
        content: ''
    }
    
    .menu-link.active a::after {
        content: ''
    }

    .menu-link.active a {
        font-weight: var(--font-medium);
        color: var(--text-white);
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    .menu-link:not(.active) a:hover {
        font-weight: var(--font-medium);
    }

    #account-icon {
        display: block;
    }

    #acc-links-container {
        position: relative;
        min-width: 64px;
    }

    #account-links {
        position: absolute;
        top: 50px;
        right: 50%;
        flex-direction: column;
        display: none;
        padding: var(--spacing-s) var(--spacing-l);
        background-color: var(--surface-white);
        box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.08);
    }

    #account-links .menu-link:not(:last-child) {
        margin-bottom: var(--spacing-s);
    }

    #account-links a {
        color: var(--text-dark);
        cursor: pointer;
        text-decoration: none;
    }

    #account-links a:hover {
        color: var(--primary-dark);
        text-decoration: none;
    }

    #account-links .active a {
        color: var(--primary);
    }

    #navbar-container input[type="checkbox"]#toggle-account-menu {
        position: absolute;
        top: 50%;
        right: 16px;
        z-index: 5;
        display: block;
        width: 35px;
        height: 24px;
        opacity: 0;
        transform: translate(0, -50%);
        cursor: pointer;
    }
    
    #navbar-container #account-icon {
        position: absolute;
        top: 50%;
        right: 24px;
        z-index: 3;
        display: block;
        width: 36px;
        height: 36px;
        transform: translate(0, -50%);
    }

    #navbar-container input[type="checkbox"]#toggle-account-menu:checked ~ #account-links {
        display: flex;
    }

    #app-desc-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: var(--spacing-xxl);
    }

    .app-description {
        width: 40%;
    }

    #app-description-img {
        display: block;
        width: 40%;
    }

    .cta {
        width: 240px;
        height: 48px;
    }

    .cta:hover {
        background-color: var(--success-hover);
    }

    .section {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: var(--spacing-s);
        box-sizing: border-box;
    }

    .section:not(:last-child) {
        margin-bottom: var(--spacing-xxl);
    }

    .section:last-child {
        margin-bottom: var(--spacing-xxxl);
    }

    .section-text {
        width: 60%;
    }
    
    .section-img {
        width: 200px;
        max-height: 200px;
        margin-bottom: unset;
    }

    .title-2 {
        font-size: var(--font-size-l);
        font-weight: var(--font-regular);
    }

    #city-image-animated {
        max-width: 60%;
        height: 50%;
    }

    #city-image {
        width: 100%;
        height: 100%;
    }

    #bus-image {
        width: 10%;
    }

    .footer-link:hover {
        color: var(--primary)
    }

    #footer-logo-btt a:hover{
        color: var(--primary-dark)
    }
}

@media only screen and (min-width: 992px){
    #app-desc-container {
        height: 30vh;
    }

    #app-description-img-park {
        display: block;
        width: 20%;
    }

    #app-description-img {
        width: 20%;
    }

    .section-text {
        width: 50%;
    }

    .section-img {
        width: 20%;
    }

    #city-image-animated {
        height: 40vh;
    }

    #footer-logo-btt {
        justify-content: space-evenly;
    }

    .footer-links {
        display: flex;
        justify-content: space-evenly;
    }
}
